.counter-wrapper {
    align-items: center;
    background-color: var(--background-light);
    bottom: 2%;
    box-shadow:var(--box-shadow);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    opacity: 0.94;
    padding: 26px;
    position: fixed;
    right: 0;
    z-index: 111;
}

.counter-wrapper h3 {
    color: var(--color-primary)
}

.counter-btn-container {
    display: flex;
    gap: 10px;
    margin: 20px;
}
