.calendar-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
}

.react-calendar {
    background: #111;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.react-calendar__tile {
    color: white;
    background: #222;
    border-radius: 5px;
}

.react-calendar__tile--active {
    background: white;
    color: black;
}

.react-calendar button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
}

.react-calendar__navigation button {
    background: #444;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

.react-calendar__navigation button:hover {
    background: white;
    color: black;
}

.event-marker {
    font-size: 12px;
    color: #f5a623;
    font-weight: bold;
    text-align: center;
}

.events {
    margin-top: 20px;
    padding: 10px;
    background: #222;
    border-radius: 5px;
    width: 100%;
}

.event-card {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.event-card img {
    width: 50px;
    border-radius: 5px;
}
