.burger-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: 10px;
}

.burger-icon .line {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .burger-icon {
        display: flex;
    }
}
