:root {
    --background-light: #f9fcff;
  
    --color-primary: #17aab8;
  
    --color-secondary: #6c757d;

  
    --color-white: #fff;
    --color-gray-80: #6c757d;
  
    --color-white-green: #d1ffd1;
  
    --box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.15);
    --box-shadow-card: 3px 3px 12px rgba(0, 0, 0, 0.25);
  }
  

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-light);
    color: var(--color-gray-80);
    font-family: Arial, sans-serif;
    text-align: center;
  }

  #page-content{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }